<template>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col">
                <szerk-szemely-component v-if="editing !== false" :szemelyek="szemelyek" class="mb-3" :szemely="editing"
                                         @close="editing = false"
                                         @reload="betolt" />
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col align-self-center font-weight-bold">Személyek</div>
                            <div class="col align-self-center text-right">
                                <button class="btn btn-sm btn-primary" @click="editing = true">Új személy</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <div class="list-group">
                                <szemely-component v-for="(szemely, index) in szemelyek" :key="index" :szemelyek="szemelyek" :szemely="szemely"
                                                   @reload="betolt"
                                                   @szerkeszt="szerkeszt" />
                                <div class="list-group-item text-muted text-center small" v-if="Object.keys(szemelyek).length == 0">Nincs megjeleníthető személy.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                szemelyek: {},
                editing: false
            }
        },

        components: {
            "szemely-component": require("./SzemelyComponent.vue"),
            "szerk-szemely-component": require("./SzerkSzemelyComponent.vue")
        },

        mounted() {
            this.betolt();
        },

        methods: {
            betolt: function () {
                axios.get('/api/szemelyek').then(function (response) {
                    this.editing = false;
                    this.szemelyek = {};

                    // stringek dátumokká alakítása
                    Object.keys(response.data.szemelyek).forEach(function (key) {
                        this.szemelyek = response.data.szemelyek;
                        var date = new Date(this.szemelyek[key].szuletes);
                        this.szemelyek[key].szuletes = date.toISOString().split('T')[0];
                        if (!this.szemelyek[key].felettes) {
                            this.szemelyek[key].felettes = -1;
                        }
                    }.bind(this));
                }.bind(this));
            },

            szerkeszt: function (id) {
                this.editing = this.szemelyek[id];
            }
        }
    }
</script>
