<template>
    <ul class="mb-0">
        <li v-for="beosztott in szemely.beosztottak">
            <span v-if="beosztott.beosztottak.length == 0" v-text="beosztott.nev"></span>
            <span v-if="beosztott.beosztottak.length > 0" v-text="beosztott.nev"></span>
            <beosztottak-component v-if="beosztott.beosztottak.length > 0" :szemely='beosztott' />
        </li>
    </ul>
</template>

<script>
    export default {
        name: "BeosztottakComponent",
        props: ["szemely"]
    }
</script>
