<template>
    <div class="list-group-item">
        <div class="row">
            <div :class="{'col-2': szemely.kep, 'd-none': !szemely.kep}">
                <img v-if="szemely.kep" class="profile-picture" :src="'/img/' + szemely.id + '.png'">
            </div>
            <div :class="{'col-10': szemely.kep, 'col-12': !szemely.kep}">
                <div class="row">
                    <div class="col align-self-center">
                        <h3 v-text="szemely.nev"></h3>
                    </div>
                    <div class="col align-self-center text-right">
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-secondary" @click="beosztottak = !beosztottak">Beosztottak megtekintése</button>
                            <button class="btn btn-secondary" @click="szerkeszt">Szerkesztés</button>
                            <button class="btn btn-danger" @click="torles">Törlés</button>
                        </div>
                    </div>
                </div>
                <div class="text-muted small" v-text="'Született: ' + szemely.szuletes"></div>
                <div v-if="szemely.felettes > 0">Felettes: <span class="ml-2" v-text="szemelyek[szemely.felettes].nev"></span></div>
                <div>Email: <a :href="'mailto:' + szemely.email" class="ml-2" v-text="szemely.email"></a></div>
                <div class="alert alert-info mt-2" v-if="beosztottak">
                    <h5>Beosztottak</h5>
                    <div v-if="szemely.beosztottak.length == 0">Nincsenek beosztottak</div>
                    <beosztottak-component :szemely="szemely" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ["szemelyek", "szemely"],

        data() {
            return {
                beosztottak: false
            };
        },

        components: {
            'beosztottak-component': require('./BeosztottakComponent')
        },

        methods: {
            torles: function () {
                if (confirm("A következő felhasználó törlésre kerül: " + this.szemely.nev + ". Biztos folytatja?")) {
                    axios.post('/api/szemelyek/' + this.szemely.id + "/delete").then(function () {
                        this.$emit("reload");
                    }.bind(this));
                }
            },

            szerkeszt: function () {
                this.$emit('szerkeszt', this.szemely.id);
            }
        }
    }
</script>

<style>
    .profile-picture {
        height: 10rem;
    }
</style>
