<template>
    <div class="card bg-light">
        <div class="card-header font-weight-bold">Személy Hozzáadása</div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-xs-12 col-lg-6">
                        <div class="form-group">
                            <label for="uj_szemely_nev">Név:</label>
                            <input id="uj_szemely_nev" type="text" class="form-control" v-model="eszemely.nev" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <div class="form-group">
                            <label for="uj_szemely_email">Email:</label>
                            <input id="uj_szemely_email" type="email" class="form-control" v-model="eszemely.email" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <div class="form-group">
                            <label for="uj_szemely_szuletes">Születés dátuma:</label>
                            <input id="uj_szemely_szuletes" type="date" class="form-control" v-model="eszemely.szuletes" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <div class="form-group">
                            <label for="uj_szemely_felettes">Felettes:</label>
                            <select id="uj_szemely_felettes" type="email" class="form-control" v-model="eszemely.felettes" required>
                                <option value="-1">Nincs</option>
                                <option v-if="iszemely.id != eszemely.id" v-for="iszemely in szemelyek" :key="iszemely.id" :value="iszemely.id" v-text="iszemely.nev"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="uj_szemely_kep"></label>
                            <div class="input-group">
                                <input class="form-control" id="uj_szemely_kep" type="file" @change="kep">
                                <button class="btn btn-danger input-group-append" :disabled="!szemely.kep || szemely.kep == -1" @click="torolKep">Törlés</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-primary" @click="ment">Mentés</button>
            <button class="btn btn-sm btn-danger" @click="elvet">Elvetés</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['szemelyek', 'szemely'],

        data() {
            return {
                eszemely: this.szemely !== true ? this.szemely : {
                    nev: "",
                    email: "",
                    szuletes: "",
                    felettes: -1,
                    kep: false
                }
            };
        },

        methods: {
            ment: function () {
                var formData = new FormData();
                formData.append('nev', this.eszemely.nev);
                formData.append('email', this.eszemely.email);
                formData.append('szuletes', this.eszemely.szuletes);
                formData.append('kep', this.eszemely.kep);
                formData.append('felettes', this.eszemely.felettes);

                axios.post(this.szemely !== true ? "/api/szemelyek/" + this.szemely.id : "/api/szemelyek", formData, {headers: {
                    'Content-Type': 'multipart/form-data'
                }}).then(function (response) {
                    window.location.reload();
                }.bind(this));
            },

            elvet: function () {
                this.szemely = null;
                this.$emit("close");
            },

            kep: function () {
                var kep = $("#uj_szemely_kep")[0].files[0];
                if (kep) {
                    this.eszemely.kep = kep;
                }
            },

            torolKep: function () {
                this.eszemely.kep = -1;
            }
        }
    }
</script>
